/* My Awesome Styling */

/* Sitewide */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100);

body {
    background: url("../img/bg_tile.png");
    margin: 2em;
}

/* Header */
header img {
    width: 100px;
    border-radius: 50%;
    width: 125%;
    margin-left: 5em;
}

/* Main Nav */

nav {
    margin-left: 18em;
}

nav li {
  list-style: none;
  display: inline-block;

    
  
}


nav a:link,
nav a:visited {
  background: pink;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
    color: white;
    border-radius: 75%;
    font-family: 'PT Sans', sans-serif;
    transition: all .5s;
   
    
    
    
}

nav a:hover {
  background: teal;
  margin-left: .5em;
}

nav a: active {
  background: pink;
}

/* Quote */
blockquote {
    color: teal;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1px; 
}

h1 {
    color: grey;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-align: center;
    letter-spacing: 3px;
}

h3 {
    color: teal;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;

    
}

h4 {
    color: teal;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

p, dd, dt, li {
    font-family: 'Work Sans', sans-serif;
    color: darkgray;
    letter-spacing: .3px;
}



/* Pic of Me */
article img {
   
}

