/* My Awesome Styling */

/* Sitewide */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

body {
    background: url("../img/bg_tile.png");
}

/* Header */
header img {
    width: 100px;
}

/* Main Nav */

nav li {
  list-style: none;
  display: inline-block;  
}


nav a:link,
nav a:visited {
  background: teal;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
    color: white;
}

nav a:hover {
  background: pink;
  margin-left: .5em;
}

nav a: active {
  background: pink;
}

/* Quote */
blockquote {
    color: teal;
    font-family: 'IM Fell Double Pica', serif;;
    font-size: 2em;
    text-align: center;
    text-shadow: 
    
                
    
}

/* Pic of Me */
article img {
     margin-top: 1.5em;
}

