/* Color Palette */
.color-1 {
    background: red; }

.color-2 {
background: white;
}

.color-3 {
background: blue;
}

.color-4 {
background: black;
}

/* Textures and Patterns */
.pattern-1 {
 background: url(http://bgfons.com/upload/flag_texture610.jpg) no-repeat;
 background-size: cover;
}